<a href="https://colab.research.google.com/github/TrabalhoAPC2021-02/Trabalho_Final/blob/main/arquivos/01_salarios_g12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importando as bibliotecas

import pandas as pd    # biblioteca utilizada para arquivos em dataframe
import plotly.express as px # biclioteca responsável por plotar os gráficos

In [2]:
s_av =[]   # vetor que receberá as médias salariais 
country = [] # vetor para receber o nome do país

In [3]:
#Criando dataframe através da leitura da planilha em excel
df = pd.read_excel('https://raw.githubusercontent.com/TrabalhoAPC2021-02/Trabalho_Final/main/arquivos/01_Data_Professional_full.xlsx')
df.head()

,Survey Year,Timestamp,SalaryUSD,Country,PrimaryDatabase,YearsWithThisDatabase,OtherDatabases,EmploymentStatus,JobTitle,ManageStaff,YearsWithThisTypeOfJob,HowManyCompanies,OtherPeopleOnYourTeam,CompanyEmployeesOverall,Gender
0,2021,2020-12-10 08:22:42.696,65000.0,Sweden,Microsoft SQL Server,4,Microsoft SQL Server,Full time employee,"Developer: Business Intelligence (SSRS, PowerB...",Yes,4,1 (this is the only company where I've had thi...,None,2,Male
1,2021,2020-12-10 08:23:22.242,145000.0,United States,Microsoft SQL Server,15,Azure SQL DB (any flavor),Full time employee,DBA (Production Focus - build & troubleshoot s...,No,25,5,None,74,Male
2,2021,2020-12-10 08:23:37.909,105000.0,United States,Microsoft SQL Server,12,"PostgreSQL, Azure SQL DB (any flavor)",Full time employee,DBA (General - splits time evenly between writ...,Yes,6,4,1,500,Male
3,2021,2020-12-10 08:23:48.152,46482.0,United Kingdom,Microsoft SQL Server,10,Azure SQL DB (any flavor),Full time employee,DBA (Production Focus - build & troubleshoot s...,No,5,2 (I worked at another similar position elsewh...,None,35,Male
4,2021,2020-12-10 08:24:03.600,98800.0,United States,Microsoft SQL Server,5,DB2,Full time employee,"Developer: Business Intelligence (SSRS, PowerB...",No,5,1 (this is the only company where I've had thi...,None,50,Male

In [4]:
#Selecionando os dados dos USA com slários de 2017 a 2021

df_usa = df[df['Country'] == 'United States'] 
salary_usa = df_usa['SalaryUSD'].tolist() # tranformando o dataframe dos usa  com salarios de 2017 a 2021 em lista.

#utilização de um laço for para calcular média dos salários dos USA 

soma_sal_usa = 0

for i in range (len(salary_usa)):
    soma_sal_usa = soma_sal_usa + salary_usa[i]
av_usa = soma_sal_usa/len(salary_usa)

s_av.append(av_usa)    # recebendo a media salarial
country.append('USA')  # recebendo o código do país

In [5]:
#Selecionando os dados dq China com slários de 2017 a 2021

df_china = df[df['Country'] == 'China'] 
salary_china = df_china['SalaryUSD'].tolist() # tranformando o dataframe da china com salarios de 2017 a 2021 em lista.

#utilização de um laço for para calcular média dos salários da china 

soma_sal_china = 0

for i in range (len(salary_china)):
    soma_sal_china = soma_sal_china + salary_china[i]
av_china = soma_sal_china/len(salary_china)
s_av.append(av_china)
country.append('CHN')

In [6]:
#Selecionando os dados da Alemanha com slários de 2017 a 2021

df_alemanha = df[df['Country'] == 'Germany'] 
salary_alemanha = df_alemanha['SalaryUSD'].tolist() # tranformando o dataframe da Alemanha com salarios de 2017 a 2021 em lista.

#utilização de um laço for para calcular média dos salários da Alemanha

soma_sal_alemanha = 0

for i in range (len(salary_alemanha)):
    soma_sal_alemanha = soma_sal_alemanha + salary_alemanha[i]
av_alemanha = soma_sal_alemanha/len(salary_alemanha)
s_av.append(av_alemanha)
country.append('DEU')

In [7]:
#Selecionando os dados do Reino unido com slários de 2017 a 2021

df_uk = df[df['Country'] == 'United Kingdom'] 
salary_uk = df_uk['SalaryUSD'].tolist() # tranformando o dataframe do reino unido com salarios de 2017 a 2021 em lista.

#utilização de um laço for para calcular média dos salários do Reino Unido.

soma_sal_uk = 0

for i in range (len(salary_uk)):
    soma_sal_uk = soma_sal_uk + salary_uk[i]
av_uk = soma_sal_uk/len(salary_uk)
s_av.append(av_uk)
country.append('GBR')

In [8]:
#Selecionando os dados da Índia com slários de 2017 a 2021

df_india = df[df['Country'] == 'India'] 
salary_india = df_india['SalaryUSD'].tolist() # tranformando o dataframe da India com salarios de 2017 a 2021 em lista.

#utilização de um laço for para calcular média dos salários da India.

soma_sal_india = 0

for i in range (len(salary_india)):
    soma_sal_india = soma_sal_india + salary_india[i]
av_india = soma_sal_india/len(salary_india)
s_av.append(av_india)
country.append('IND')

In [9]:
#Selecionando os dados da França com slários de 2017 a 2021

df_france = df[df['Country'] == 'France'] 
salary_france = df_france['SalaryUSD'].tolist() # tranformando o dataframe da França com salarios de 2017 a 2021 em lista.

#utilização de um laço for para calcular média dos salários da França.

soma_sal_france = 0

for i in range (len(salary_france)):
    soma_sal_france = soma_sal_france + salary_france[i]
av_france = soma_sal_france/len(salary_france)
s_av.append(av_france)
country.append('FRA')

In [10]:
#Selecionando os dados da Itália com slários de 2017 a 2021

df_italia = df[df['Country'] == 'Italy'] 
salary_italia = df_italia['SalaryUSD'].tolist() # tranformando o dataframe da Itália com salarios de 2017 a 2021 em lista.

#utilização de um laço for para calcular média dos salários da Itália.

soma_sal_italia = 0

for i in range (len(salary_italia)):
    soma_sal_italia = soma_sal_italia + salary_italia[i]
av_italia = soma_sal_italia/len(salary_italia)
s_av.append(av_italia)
country.append('ITA')

In [11]:
#Selecionando os dados da Canadá com slários de 2017 a 2021

df_canada = df[df['Country'] == 'Canada'] 
salary_canada = df_canada['SalaryUSD'].tolist() # tranformando o dataframe do Canadá com salarios de 2017 a 2021 em lista.

#utilização de um laço for para calcular média dos salários do Canadá.

soma_sal_canada = 0

for i in range (len(salary_canada)):
    soma_sal_canada = soma_sal_canada + salary_canada[i]
av_canada = soma_sal_canada/len(salary_canada)
s_av.append(av_canada)
country.append('CAN')

In [12]:
#Selecionando os dados da Russia com slários de 2017 a 2021

df_russia = df[df['Country'] == 'Russia'] 
salary_russia = df_russia['SalaryUSD'].tolist() # tranformando o dataframe do Russia com salarios de 2017 a 2021 em lista.

#utilização de um laço for para calcular média dos salários do Russia.

soma_sal_russia = 0

for i in range (len(salary_russia)):
    soma_sal_russia = soma_sal_russia + salary_russia[i]
av_russia = soma_sal_russia/len(salary_russia)
s_av.append(av_russia)
country.append('RUS')

In [13]:
#Selecionando os dados do Brasil com slários de 2017 a 2021

df_br = df[df['Country'] == 'Brazil'] 
salary_br = df_br['SalaryUSD'].tolist() # tranformando o dataframe do Brasil com salarios de 2017 a 2021 em lista.

#utilização de um laço for para calcular média dos salários do Brasil.

soma_sal_br = 0

for i in range (len(salary_br)):
    soma_sal_br = soma_sal_br + salary_br[i]
av_br = soma_sal_br/len(salary_br)
s_av.append(av_br)
country.append('BRA')

In [14]:
#Selecionando os dados da Austrália com slários de 2017 a 2021

df_australia = df[df['Country'] == 'Australia'] 
salary_australia = df_australia['SalaryUSD'].tolist() # tranformando o dataframe do Austrália com salarios de 2017 a 2021 em lista.

#utilização de um laço for para calcular média dos salários da Austrália.

soma_sal_australia = 0

for i in range (len(salary_australia)):
    soma_sal_australia = soma_sal_australia + salary_australia[i]
av_australia = soma_sal_australia/len(salary_australia)
s_av.append(av_australia)
country.append('AUS')

In [15]:
#Selecionando os dados da Africa do sul com slários de 2017 a 2021

df_africasul = df[df['Country'] == 'South Africa'] 
salary_africasul = df_africasul['SalaryUSD'].tolist() # tranformando o dataframe da Africa do Sul com salarios de 2017 a 2021 em lista.

#utilização de um laço for para calcular média dos salários da africa do sul.

soma_sal_africasul = 0

for i in range (len(salary_africasul)):
    soma_sal_africasul = soma_sal_africasul + salary_africasul[i]
av_africasul = soma_sal_africasul/len(salary_africasul)
s_av.append(av_africasul)
country.append('ZAF')

In [16]:
print(s_av)
print(country)

[109589.19568973115, 57333.333333333336, 79777.56, 66656.69426124198, 32729.870467836256, 60625.75, 48795.11255319149, 80342.5001058201, 27639.916666666668, 27996.75, 93446.25709803922, 55847.116341463414]
['USA', 'CHN', 'DEU', 'GBR', 'IND', 'FRA', 'ITA', 'CAN', 'RUS', 'BRA', 'AUS', 'ZAF']

In [ ]:
#Método 2 para criar o gráfico, através da combinação dos vetores criados no início.
fig = px.bar(x=country, y=s_av, title='Average')
fig.update_xaxes(title='Country')
fig.update_yaxes(title='Average annual salary [USD]')
fig.show()

In [18]:
df_sv = pd.DataFrame(list(zip(country,s_av)), columns = ['Country','Average annual salary [USD]'])
print(df_sv)

fig = px.scatter_geo(df_sv, locations='Country', size='Average annual salary [USD]',color=country , projection="natural earth", title='Média de salário anual dos profissionais de TI dos paises do G12*')
fig.show()

   Country  Average annual salary [USD]
0      USA                109589.195690
1      CHN                 57333.333333
2      DEU                 79777.560000
3      GBR                 66656.694261
4      IND                 32729.870468
5      FRA                 60625.750000
6      ITA                 48795.112553
7      CAN                 80342.500106
8      RUS                 27639.916667
9      BRA                 27996.750000
10     AUS                 93446.257098
11     ZAF                 55847.116341