<a href="https://colab.research.google.com/github/TrabalhoAPC2021-02/Trabalho_Final/blob/main/colas/02_salarios_CLT_Terceirizado_cola_barras_duplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importanto as bibliotecas
Pandas - Biblioteca para leitura, tratamento e manipulação de dados: https://pandas.pydata.org/docs/

Plotly - Biblioteca para a criação e edição de gráficos: https://plotly.com/python/

In [ ]:
import pandas as pd # importando a biblioteca pandas para leitura de dados
import plotly.graph_objects as go # biblioteca que usaremos para criar os gráficos

# Explicando a tabela
Essa tabela mostra os salários de CLT: que são contratados com carteira assinada.
E salários de terceirizados de acordo com o google terceirizado é : "O contrato de trabalho terceirizado nada mais é que a execução das atividades de uma empresa, realizada por outra empresa."

Mostram os cargos e as especialidades

Os valores nas Tabelas estão em reais

In [ ]:
# definindo um dataframe a partir da url do arquivo que puxamos do github
url = 'https://raw.githubusercontent.com/TrabalhoAPC2021-02/Trabalho_Final/main/arquivos/02.1_salarios_CLT_Terceirizado.xlsx'

# atribuindo uma variável 'df' para especificar nosso data frame
df = pd.read_excel(url) # usamos o comando pd.read_excel para ler o excel que atribuimos a variável "url"

df # mostrar a tabela

                            Cargo  Especialidade    CLT  Terceiro
0                AD Adm. de Dados                  7415    9743.0
1                      Adm. Cloud                  5129    5901.0
2                    Adm. de rede                  4859    6223.0
3   Adm. De Sistemas / Aplicações                  6084    7281.0
4                     Agile Coach                 11715   13221.0
..                            ...            ...    ...       ...
79                    Programador  Visual Studio   5149    6636.0
80       Recrutador(a) RH para TI                  3623    5016.0
81            Técnico de Hardware                  2053    2399.0
82             Tecnico de Suporte                  2144    2944.0
83                   Web Designer                  3211    4037.0

[84 rows x 4 columns]

In [ ]:
# vendo valores repetidos

df['Cargo'].value_counts() # usamos o value.counts() para contar os valores da tabela na coluna cargo
                           # assim poderemos ver quantas vezes cada Cargo se repete

Analista Programador             10
Programador                      10
Analista de Suporte               6
Analista de sistemas              5
Consultor especialista            2
Operador / Scheduller             2
Analista de produção              2
AD Adm. de Dados                  1
Estagiário                        1
Consultor ERP                     1
Coordenador de projetos           1
Coordenador de Suporte            1
Coordenador de testes             1
DBA Adm. Base de Dados            1
Engenheiro de Sistemas            1
Engenheiro de Telecom             1
Gerente de Contas                 1
Assistente de Informática         1
Gerente de operação               1
Gerente de Projetos               1
Gerente de Sistemas               1
Gerente de Suporte                1
Instrutor                         1
Lider de Projetos                 1
Lider Técnico                     1
Recrutador(a) RH para TI          1
Técnico de Hardware               1
Tecnico de Suporte                1
Auditor de Sistemas               1
Analista Segurança Sistemas       1
Arquiteto de Sistemas             1
Adm. Cloud                        1
Adm. de rede                      1
Adm. De Sistemas / Aplicações     1
Agile Coach                       1
Agile Master                      1
Analista de Aplicações            1
Analista de BI / Big Data         1
Analista de Governança            1
Analista de Implantação           1
Analista de Infraestrutura        1
Analista de Integração            1
Analista de monitoramento         1
Analista de Negócios              1
Analista de processos             1
Analista de Projetos              1
Analista de Qualidade             1
Analista de Requisitos            1
Analista de segurança             1
Analista de Telecomunicações      1
Analista de testes                1
Analista Funcional                1
Analista Microinformática         1
Web Designer                      1
Name: Cargo, dtype: int64

Os colchetes[] no caso do código abaixo está servindo para localizar uma coluna no data frame especificado antes

Df é o dataframe que definimos lá em cima, o ['Cargo'] é especificando a coluna do dataframe

In [ ]:
# criando um data frame para os cargos mais repetidos

# separamos aqui o nosso dataframe principal "df" em quatro outros
# cada um atriubuido para cada cargo que mais se repetiu

programador = df[df['Cargo'] == 'Programador'] # aqui por exemplo criei um dataframe puxando os dados aonde na 
                                               # na coluna cargo seria == a programador
                                               # a mesma coisa foi feita nos itens seguintes
                                               
anpro = df[df['Cargo'] == 'Analista Programador']
ansup = df[df['Cargo'] == 'Analista de Suporte']
ansis = df[df['Cargo'] == 'Analista de sistemas']

# Mostrando cada DATA FRAME criado nas celulas anteriores

In [ ]:
programador

          Cargo  Especialidade   CLT  Terceiro
70  Programador             C#  4859    6636.0
71  Programador           Java  5681    7626.0
72  Programador            PHP  3751    4989.0
73  Programador         Delphi  3200    4096.0
74  Programador   Visual Basic  2489    3102.0
75  Programador           ABAP  6111    8012.0
76  Programador          Cobol  3758    4998.0
77  Programador    Java Script  2868    3528.0
78  Programador         Python  3998    4758.0
79  Programador  Visual Studio  5149    6636.0

In [ ]:
anpro

                   Cargo  Especialidade   CLT  Terceiro
36  Analista Programador             C#  6569    9111.0
37  Analista Programador           Java  6996    8858.0
38  Analista Programador            ASP  4223    5633.0
39  Analista Programador      Mainframe  5177    6988.0
40  Analista Programador            PHP  4403    5267.0
41  Analista Programador            C++  5714    7320.0
42  Analista Programador           ABAP  7597    9853.0
43  Analista Programador         Python  4711    5927.0
44  Analista Programador         Delphi  4501    5844.0
45  Analista Programador  Oracle PL/SQL  6638    8655.0

In [ ]:
ansup

                  Cargo Especialidade   CLT  Terceiro
26  Analista de Suporte     Mainframe  5301    6149.0
27  Analista de Suporte          Unix  4872    5798.0
28  Analista de Suporte           ERP  3675    4190.0
29  Analista de Suporte         Redes  3427    4304.0
30  Analista de Suporte       Windows  2939    3644.0
31  Analista de Suporte         Linux  2918    3203.0

In [ ]:
ansis

                   Cargo  Especialidade   CLT  Terceiro
21  Analista de sistemas      Mainframe  6201    7689.0
22  Analista de sistemas             C#  6502    8413.0
23  Analista de sistemas           Java  8085   12401.0
24  Analista de sistemas            PHP  4664    6035.0
25  Analista de sistemas  Oracle PL/SQL  6822    8629.0

# Serve para o código do terceirizados e dos clt pois eles usam a mesma lógica

Fazendo uma média para os contratados por CLT e pelo contratados que são Terceirizados:

Passo 1- Transformação dos valores das colunas para lista, colunas "terceirizado" e "clt"

Passo 2- Usamos o comando de repetição "for" para fazer uma soma de todos os valores que criamos nas listas do passo 1, fora do comando "for" fazemos uma média dessa soma total que fizemos usando a estrutura de repetição dividindo pelo tamanho da lista, lembrando que é uma lista para cada cargo e uma soma total para cada cargo, as variaveis explicam bem isso, como por exemplo "soma_t_pro".

# Atenção!!! A próxima celula é somente para o salário de terceirizados

# Terceirizados

In [ ]:
# tratando os dados para calcular a soma e a media
# para terceirizado

# PASSO 1
# criamos uma lista para cada dataframe que separamos, lembrando que aqui é
# somente da coluna terceiro, então transformamos somente elas em listas

t_programador = programador['Terceiro'].tolist() # comando .tolist() usado para transformar a coluna numa lista
t_anpro = anpro['Terceiro'].tolist()
t_ansup =ansup['Terceiro'].tolist()
t_ansis = ansis['Terceiro'].tolist()

#PASSO 2

# usando o for para criar uma média para cada cargo

soma_t_pro = 0 # atribuimos um 0 aqui nessa variável para que seja possivel ser somado na nossa estrutura
               # de repetição

# usamos o for para criar nossa somatória total dos valores das nossas listas
# len(t_programador) é o tamanho da nossa lista
# o comando " for i in range (len(t_programador)" é para a cada repetição ele atribuir
# uma posição da lista ao comando i, por exemplo, na primeira repetição o "i" será o 0, na segunda
# será 1, e assim até chegar a ultima posição da lista

# no comando a baixo usamos essa repetição para fazer a soma
# então na primeira repetição nosso soma_t_pro é igual a 0
# ai ele vai somar 0 mais o primeiro valor da nossa lista
# por exemplo, vamos dizer que nosso valor é 6000, ele vai somar 6000 + 0
# então na segunda repetição ele não será mais 0, será 6000, ai ele vai somar o 6000
# mais o segundo valor da lista e assim por diante até o final
# usamos a mesma logica para as outras listas

for i in range (len(t_programador)): 
  soma_t_pro = soma_t_pro + t_programador[i]
media_pro = soma_t_pro/len(t_programador)
print('Terc_programador',soma_t_pro, media_pro)

#mesma logica da explicação de cima

soma_t_anpro = 0
for i in range (len(t_anpro)):
  soma_t_anpro = soma_t_anpro + t_anpro[i]
media_anpro = soma_t_anpro/len(t_anpro)
print('Terc_analista_programador',soma_t_anpro, media_anpro)

soma_t_ansup = 0
for i in range (len(t_ansup)):
  soma_t_ansup = soma_t_ansup + t_ansup[i]
media_ansup = soma_t_ansup/len(t_ansup)
print('Terc_analista_suporte', soma_t_ansup, media_ansup)

soma_t_ansis = 0
for i in range (len(t_ansis)):
  soma_t_ansis = soma_t_ansis + t_ansis[i]
media_ansis = soma_t_ansis/len(t_ansis)
print('Terc_analista_sistemas',soma_t_ansis, media_ansis) # os prints foram usados para podermos visualizar a
                                                          # somatória total de cada cargo e suas respecitivas médias

Terc_programador 54381.0 5438.1
Terc_analista_programador 73456.0 7345.6
Terc_analista_suporte 27288.0 4548.0
Terc_analista_sistemas 43167.0 8633.4

Abaixo iremos criar um novo dataframe a partir dos dados que conseguimos com o código explicado acima

Usamos a biblioteca Pandas, com o seu comando pd.Dataframe 

Como funciona esse comando?

Aqui está um link para vocês darem uma olhada na documentação dele:https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

Explicando: o comando pd.DataFrame pela sua documentação pede para, primeiro indicarmos nossa "data" o que seria isso? São os dados do dataframe que queremos criar, logo após ele pede um index, e o que seria isso? Index é, de acordo com a documentação é o nosso indice bem simples, nossas linhas
Isso é um indice:
1.
2.
3.
4.
Então passaremos um index para ele, dizendo quantas linhas temos no nosso dataframe, também podemos falar que indicaremos um indice para o nosso dataframe.
Pela documentação também pede o comando "columns" que é para especificar nossas colunas

Como usamos esses comandos que expliquei

Vocês podem ver que especifiquei uma variável "columns" certo? Dentro dela está ['Cargo', 'Terceiro'] porque é o nome das colunas que queremos, poderiámos colocar qualquer nome nelas, então tentem trocar ai e coloque qualquer nome e vcs vão poder ver melhor.

Logo depois temos a variável "line" ela servirá para o nosso indice, o nosso index no comando pd.dataframe, dentro deles entre colchetes podemos ver que estão entre aspas vazias, pois eu quero só 4 linhas que não mostrem nada, experimentem colocar os numeros 1, 2, 3 e 4 dentro dessas aspas e rodem o código vocês conseguiram entender melhor a lógica
logo após nós passamos a variável dados, para? Para usarmos no comando data que expliquei lá em cima, os dados são feitos da seguinte maneira, abrimos um colchetes e especificamos primeiro o nome ou o dado que será passado na nossa primeira coluna, como sabemos qual vai ser nossa primeira coluna? Olhem para a variável column a primeira, o primeiro nome que passamos é 'cargo', e o segundo terceiro, então vocês iram seguir essa ordem.

Exemplo:

Na primeira parte da nossa variável "dados" temos ['Analista de suporte', media_ansup] que serão atribuidads respecitvamentes para a coluna 'cargo' e 'terceiro'

In [ ]:
# criando um novo dataframe
# para terceirizado

column = 'Cargo', 'Terceiro'
line = '', '','',''
dados = [['Analista de Suporte', media_ansup], ['Programador', media_pro]
         , ['Analista programador', media_anpro], ['Analista de sistemas', media_ansis]]
tb_terceiro = pd.DataFrame(data=dados, index=line, columns=column) # tb_terceiro é o nome do nosso novo dataframe
print(tb_terceiro)

                 Cargo  Terceiro
   Analista de Suporte    4548.0
           Programador    5438.1
  Analista programador    7345.6
  Analista de sistemas    8633.4

A próxima célula usa a mesma lógica do terceiro lá de cima é igual creio que não precise de explicação
Mas se precisar é só olhar a primeira explicação que dei para o comando for dos terceiros lá em cima, só que aqui usamos para a o salários de clt

In [ ]:
# tratando os dados para calcular a soma e a media
# para o CLT

clt_programador = programador['CLT'].tolist()
clt_anpro = anpro['CLT'].tolist()
clt_ansup =ansup['CLT'].tolist()
clt_ansis = ansis['CLT'].tolist()

soma_clt_pro = 0
for i in range (len(clt_programador)):
  soma_clt_pro = soma_clt_pro + clt_programador[i]
media_clt_pro = soma_clt_pro/len(clt_programador)
print('CLT_programador', soma_clt_pro, media_clt_pro)

soma_clt_anpro = 0
for i in range (len(clt_anpro)):
  soma_clt_anpro = soma_clt_anpro + clt_anpro[i]
media_clt_anpro = soma_clt_anpro/len(clt_anpro)
print('CLT_analista_programador', soma_clt_anpro, media_clt_anpro)

soma_clt_ansup = 0
for i in range (len(clt_ansup)):
  soma_clt_ansup = soma_clt_ansup + clt_ansup[i]
media_clt_ansup = soma_clt_ansup/len(clt_ansup)
print('CLT_analista_suporte', soma_clt_ansup, media_clt_ansup)

soma_clt_ansis = 0
for i in range (len(clt_ansis)):
  soma_clt_ansis = soma_clt_ansis + clt_ansis[i]
media_clt_ansis = soma_clt_ansis/len(clt_ansis)
print('CLT_analista_sistemas',soma_clt_ansis, media_clt_ansis)

CLT_programador 41864 4186.4
CLT_analista_programador 56529 5652.9
CLT_analista_suporte 23132 3855.3333333333335
CLT_analista_sistemas 32274 6454.8

A ideia de dataframe é a mesma de lá de cima

In [ ]:
# criando um novo dataframe
# para o CLT
column = ['Cargo', 'CLT']
line = ['', '','','']
dados = [['Analista de Suporte', media_clt_ansup], ['Programador', media_clt_pro]
         , ['Analista programador', media_clt_anpro], ['Analista de sistemas', media_clt_ansis]]
tb_clt = pd.DataFrame(data=dados, index=line, columns=column) # mesma lógica do dataframe do terceiro, porém para o clt
                                                              # só atribuimos o nome tb_clt para o nosso novo dataframe
print(tb_clt)

                 Cargo          CLT
   Analista de Suporte  3855.333333
           Programador  4186.400000
  Analista programador  5652.900000
  Analista de sistemas  6454.800000

# Criando nosso gráfico

Como criamos nosso gráfico? Primeiro a gente criou a variável "fig" lembrando ela poderia ser qualquer coisa,poderia ser "grafico" também, mas fig remete a figura né, creio que isso deu pra entender, dentro dela jogamos o comando da plotly.graph_objects, que é o go.Figure() e pra que ele serve? Para criar uma figura, só isso

Logo apos usamos o comando .add_trace, alguns podem estar se perguntando mas porque tem esse "fig" antes? Pq ele é a figura que iniciamos, então ai está dizendo que iremos adicionar um traço, um gráfico nessa figura.

Usamos o comando go.Funnel() para criar um gráfico de funil, de acordo com a documentação, passamos qual será o nome do nosso primeiro traço para ele ficar identificado no gráfico, ent colocamos name='Terceiro', no eixo y queremos os valores da tabela terceiro na coluna cargo, então fica tb_terceiro['Cargo'], já no eixo x queremos a mesma tabela mas na coluna Terciro assim ficando tb_terceiro['Terceiro']

Usamos a mesma lógica para criar um segundo traço, esse sendo usado os dados da tb_clt. É a mesma lógica

o .update_layout() é por pura estetica, só definimos um titulo e um background para o gráfico

O fig.show() é para mostrar o gráfico

In [ ]:
fig = go.Figure()

fig.add_trace(go.Funnel(name='Terceiro', y=tb_terceiro['Cargo'], x=tb_terceiro['Terceiro']))

fig.add_trace(go.Funnel(name='CLT', y=tb_clt['Cargo'], x=tb_clt['CLT']))


fig.update_layout(title='Comparação entre salários de contratados pela CLT e salários de terceirizados R$', template='plotly_dark')
fig.show()